ACCOUNTS_JSON=[{"name":"user1","qq":"your_qq","password":"your_password"}]
BASE_URL=http://your-server
TOKEN_PATH=data.token
LOGIN_METHOD=POST
LOGIN_PARAMS_JSON={"qq":"{{qq}}","password":"{{password}}"}
CHECKIN_METHOD=POST
CHECKIN_TOKEN_LOCATION=header
CHECKIN_TOKEN_KEY=token
CHECKIN_TOKEN_PREFIX=
REQUEST_TIMEOUT_SECONDS=30
